In [3]:
import pandas as pd
df=pd.read_csv('ml-25m/movies.csv')
df1=pd.read_csv('ml-25m/ratings.csv')

In [4]:
df=df.iloc[:2000]
df1=df1.iloc[:2000]

In [5]:
df.shape,df1.shape

((2000, 3), (2000, 4))

In [8]:
df.to_csv('movie_s.csv',index=False)
df1.to_csv('rating_s.csv',index=False)

In [9]:
df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [15]:
len(df['genres'].unique().sum()) # total unique genres we have

8258